*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

background:linear-gradient(135deg,#2193b0,#6dd5ed);

min-height:100vh;

display:flex;

justify-content:center;

align-items:flex-start;

padding:40px;
}

.container{

background:white;

width:850px;

padding:25px;

border-radius:15px;

box-shadow:0px 5px 20px rgba(0,0,0,.3);

}

h1{

text-align:center;

margin-bottom:20px;

}

.addTask{

display:flex;

gap:10px;

margin-bottom:25px;

}

.addTask input{

flex:1;

padding:12px;

font-size:18px;

border:2px solid gray;

border-radius:8px;

}

.addTask button{

padding:12px 18px;

background:#28a745;

color:white;

border:none;

cursor:pointer;

border-radius:8px;

font-size:17px;

}

.addTask button:hover{

background:#218838;

}

.lists{

display:flex;

gap:20px;

}

.box{

width:50%;

background:#f3f3f3;

padding:15px;

border-radius:10px;

}

h2{

margin-bottom:10px;

}

ul{

list-style:none;

}

li{

background:white;

margin:10px 0;

padding:12px;

border-radius:10px;

box-shadow:0px 2px 5px rgba(0,0,0,.2);

}

.taskText{

font-size:18px;

margin-bottom:8px;

}

.time{

font-size:12px;

color:gray;

margin-bottom:8px;

}

.buttons{

display:flex;

gap:5px;

flex-wrap:wrap;

}

button{

cursor:pointer;

padding:6px 10px;

border:none;

border-radius:5px;

}

.complete{

background:#007bff;

color:white;

}

.edit{

background:orange;

color:white;

}

.delete{

background:red;

color:white;

}

.empty{

color:gray;

font-style:italic;

}